.statusOnline {
  border-radius: 50%;
  background-color: green;
  width: 15px;
  height: 15px;
}
.statusOffline {
  border-radius: 50%;
  background-color: red;
  width: 15px;
  height: 15px;
}

.friendItem {
  display: flex;
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  padding: 20px;
  border-radius: 6px;
}
.friendAvatar {
  width: 100px;
  padding: 10px;
  padding-left: 40px;
}
.friendName {
  padding: 30px;
  font-size: 20px;
  font-weight: 500;
}
